In [1]:
for obj in collection:
    pass

NameError: name 'collection' is not defined

In [2]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a=[4,'hi','xtz',35]
for i in a:
    b.append(i*2)
b

[[4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 [4, 'hi', 'xtz', 35, 4, 'hi', 'xtz', 35],
 8,
 'hihi',
 'xtzxtz',
 70]

In [9]:
l=[2,4,'hi','xyz']
c=[]
for i in range(len(l)):
    c.append(l[i]*2)
c

[4, 8, 'hihi', 'xyzxyz']

In [10]:
# comprehension
# for looping statement which are one liner 
# list comprehension 
# [output for-loop]
# [output for-loop if-condition] filtering the data
# dict comprehension 
# {output: key:value  for-loop}
# set comprehension
# {output for-loop}
# generator comprehension
# (output for-loop)
c=[val*2 for val in l]
c

[4, 8, 'hihi', 'xyzxyz']

In [16]:
k=[1,234,55,32,677,98,21,3,1,4,5,67]
c=[val for val in k if val%2==0]
c

[234, 32, 98, 4]

In [13]:

d=[val for val in k if not val%2!=0 and val>10]
d

[234, 32, 98]

In [17]:
[val/2 if val%2==0 else val*2 for val in k if val%2==0 ]

[117.0, 16.0, 49.0, 2.0]

In [19]:
# multiply by 2 if odd otherwise check if it is less than 20 then do //2 otherwise do nothing 
l1=[2,4,5,21,45,64,67,21,223]
a=[val*2 if val%2==1 else (val//2 if val<20 else val) for val in l1 ]
a

[1, 2, 10, 42, 90, 64, 134, 42, 446]

In [20]:
# [val*2 if val%2==1 else val//2 for val in k/]

[2, 117, 110, 16, 1354, 49, 42, 6, 2, 2, 10, 134]

In [22]:
# for dict
m={val:val**2 for val in k if val%2==0}
m

{234: 54756, 32: 1024, 98: 9604, 4: 16}

In [24]:
for i,j in m.items():
    print(j, i)

54756 234
1024 32
9604 98
16 4

In [27]:
#  user defined functions/////////////
def function_name():
    '''
    Doesnt do anything . Just a dummy
    '''
    print('Print something')

function_name()

Print something

In [28]:
help(function_name)

Help on function function_name in module __main__:

function_name()
    Doesnt do anything . Just a dummy

In [32]:
def function_2(val1, val2):
    return val1*val2

In [33]:
function_2(2,54)

108

In [34]:
def function_3(val1, val2):
    print('Print anything')
    return (val1*val2)+val1

function_3(1,4)

Print anything

5

In [35]:
function_3(val2=12, val1=3)

Print anything

39

In [36]:
def function_3(val1=0, val2=0,val3=1):
    print('Print anything')
    return (val1*val2)+val1/val3

In [37]:
function_3()

Print anything

0.0

In [40]:
def function_4(x=10,*v):
    print('x value',x)
    return [i*3 for i in v]

In [41]:
function_4(1,2,3,67,8)

x value 1

[6, 9, 201, 24]

In [44]:
def function_5(x, *v, **u):
    print('x value',x)
    return [i*3 for i in v] , u

In [45]:
function_5(3,6,8,somedata=[2,1,34,5])

x value 3

([18, 24], {'somedata': [2, 1, 34, 5]})